
#CADDY
APP_DOMAIN=
API_DOMAIN=


#POSTGRES
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=innovia_db

#API
JWT_ISSUER=
JWT_AUDIENCE=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
FRONTEND_ORIGIN=

#FRONTEND
VITE_API_URL=https://localhost:7229